.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
openapi.json
playground
tmp
dist
.turbo
.opencode
.opencode/raid.db-wal
.opencode/raid.db-shm
.opencode/raid.db
**/.serena
.serena/
/.claude.backup.*
packages/opencode-kanban/
